h1{
    /* font-size: 40px; */
    font-weight: 600;
    font-style: normal;
    font-variant: small-caps;
    text-align: center;
    margin-top: 10in;
    background-color:green;   
}


/* ----------------------------- */
.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
    padding-bottom: 0px;
}

.buttons-left{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 50%;
    padding-left: 20px;
   
}
.buttons-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 50%;
    padding-left: 50px;
   
}

.button-wrapper {
	width: 100%;
	margin-bottom: 20px;
}

button {
	width: 100%;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	background-color: rgba(76, 175, 80, 0.8);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
    text-align: left;
	text-decoration: none;
	cursor: pointer;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	position: relative;
	opacity: 0.9;
    
}

button:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 10px rgb(255, 234, 0);
	opacity: 0.9;
}

button a {
	color: #fff;
	text-decoration: none;
    font-size: 28px;
    padding-left: 20px;
    
}



/* ----------------footar-back-button--------------- */
.footer {
    position: fixed;
    height: 40px;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: rgb(234, 158, 7);
    color: white;
    text-align: center;
 }

.back {
    display: block;
    align-items: left;
    text-align: left;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgb(132, 116, 223);
    

}

.back-anchor {
    text-decoration: none;
    color: white;
    
}



div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: green;
    padding: 0px;
    font-size: 12px;
  }



  /* Style the message container */
.message {
    background-color: #f9c9c9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
  }
  
  /* Style the message text */
  .message p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Animate the message text */
  .message p {
    animation-name: move-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  /* Define the animation */
  @keyframes move-text {
    from {
      transform: translateX(-40);
    }
    to {
      transform: translateX(40px);
    }
  }

