.Architecture{
    widows: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
h1{
    /* font-size: 40px; */
    font-weight: 600;
    font-style: normal;
    font-variant: small-caps;
    text-align: center;
    margin-top: 10in;
    background-color:green;   
}


.Architecture-col{
    flex-basis: 31%;
    /* background: #d77e7e; */
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    width: 90vw;
    
    flex-direction: column;
    text-align: center;
}

.hero-btn{
    /* display: inline-block;  */
    text-decoration: none;
    color:rgb(255, 255, 255);
    /* border: 8px solid rgb(86, 156, 70); */   
    /* above line is for border of blocks */
    
    padding: 12px 20px;
    font-size: 28px;
    font-style: oblique;
    background: rgba(185, 172, 49, 0.308);
    opacity: 0.8;
    
    position:relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #000000;
    background: #3c741c;
    transition: 1s;
}
/* .iitglogo img{
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    align-items: center;
    display: inline-block;
    /* border: 1px solid #fff; */
    /* background: #ffffff; */
    opacity: 0.8;
    position: absolute;
    top: 25%;
    left: 90%;
    transform: translate(-50%,-50%);
} */

#popup
{
position:absolute;
z-index:99;
display:block;
top:200px;
left:50%;
width:567px;
height:420px; 
margin-left:-250px; 
}

.back {
    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 800px;
    background-color: rgb(132, 116, 223);
    

}

.back-anchor {
    text-decoration: none;
    color: white;
    
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: green;
    padding: 0px;
    font-size: 12px;
  }


/*-----for architectur in coloumn--------*/
@media(max-width: 600px){
    .Architecture{
        flex-direction: column;
        height: auto;
        width: auto;
        text-align: center;
    }
    .Architecture h1{
        flex-direction: column;
        height: auto;
        width: auto;
        text-align: center;
    }
}